<h1>Registro de Usuarios</h1>

<form
	action='registerUser'
	method='post'
	class='row g-3 m-3 needs-validation'
	novalidate
>
	<div class='col-md-4'>
		<label for='validationCustom01' class='form-label'>First name</label>
		<input
			type='text'
			class='form-control'
			name='first_name'
			id='validationCustom01'
			value=''
			required
		/>
		<div class='valid-feedback'>
			Looks good!
		</div>
	</div>
	<div class='col-md-4'>
		<label for='validationCustom02' class='form-label'>Last name</label>
		<input
			type='text'
			class='form-control'
			name='last_name'
			id='validationCustom02'
			value=''
			required
		/>
		<div class='valid-feedback'>
			Looks good!
		</div>
	</div>
	<div class='col-md-2'>
		<label for='validationCustom03' class='form-label'>Age</label>
		<input
			type='text'
			class='form-control'
			name='age'
			id='validationCustom03'
			required
		/>
		<div class='invalid-feedback'>
			Please choose a Age.
		</div>
	</div>
	<div class='col-md-6'>
		<label for='validationCustomUsername' class='form-label'>Email</label>
		<div class='input-group has-validation'>
			<span class='input-group-text' id='inputGroupPrepend'>@</span>
			<input
				type='text'
				class='form-control'
				name='email'
				id='validationCustomUsername'
				aria-describedby='inputGroupPrepend'
				required
			/>
			<div class='invalid-feedback'>
				Please choose a Email.
			</div>
		</div>
	</div>
	<div class='col-md-3'>
		<label for='validationCustom05' class='form-label'>Password</label>
		<input
			type='text'
			class='form-control'
			name='password'
			id='validationCustom05'
			required
		/>
		<div class='invalid-feedback'>
			Please provide a valid Password.
		</div>
	</div>
	<div class='col-12'>
		<button class='btn btn-primary' type='submit' value='Crear'>Crear Usuario</button>
	</div>
</form>